<p>Created by Lubo as part of the <a href="https://www.theodinproject.com/lessons/ruby-on-rails-members-only">
Odin Project curriculum</a>. View on <a href="https://github.com/1lubo/odin-fights">Github</a>.</p>
