<div class="content">
    <p>Created by Lubo as part of the <%= link_to 'Odin Project curriculum', "https://www.theodinproject.com/lessons/ruby-on-rails-flight-booker" %>.
    View the code <%= link_to 'Github', "https://github.com/1lubo/odin-fights" %>
</div>
